* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.weather-title {
    font-size: 45px;
}

.main-header {
    background-color: deepskyblue;
}

.forecast {
    background-color: royalblue;
    color: white;
}